* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--color_fondo);
  color: var(--color_texto);
  line-height: 1.6;
  transition: var(--transicion);
  position: relative;
}

a {
  color: var(--color_primario);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img,
video {
  max-width: 100%;
  height: auto;
}
